# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing & Coverage
/coverage

# Next.js build output
/.next/
/out/

# Production
/build
/dist

# Misc
.DS_Store
*.pem

# Environment variables
.env
.env*.local
!.env.example

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Prisma generated DB files
*.db
*.db-journal

# IDE and OS
.idea/
.vscode/
*.swp
*.swo
Thumbs.db
